.results-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.summary-collab-container {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
}

.summary-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DBD5D5;
  width: 35vw;
  height: 4.5vh;
  border-radius: 15px;
  margin-bottom: 11px;
}

.summary-text {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 4px;
}

.collab-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 30vw;
}

.collab {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DBD5D5;
  width: 14vw;
  height: 4.5vh;
  border-radius: 15px;
}

.design-features-container {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
}

.design, .video {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid black;
  height: 45vh;
  width: 35vw;
}

.palette-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DBD5D5;
  height: 4vh;
}

.palette-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.color {
  background-color: red;
  height: 12vh;
  width: 8vw;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.hex-code {
  background-color: #FAF4EE;
  margin-bottom: 0;
  border-radius: 3px;
}

.feat-inter-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DBD5D5;
  height: 4.5vh;
  width: 30vw;
}

.feat-inter-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee4e1;
  height: 40vh;
}

.video-interaction-container {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
}

.video {
 align-items: center;
}