.form-page {
  background-image: url("../../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 88vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  animation: fadeIn 0.5s ease-in;
}

.form-left {
  display: flex;  
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
} 

.form-left-question {
  background-color: white;
  padding: 0 20px;
  border-radius: 30px;
  width: 70%;
}

.form-backdrop {
  height: 70%;
  width: 50%;
  background-color: white;
  border-radius: 30px;
  margin: 80px 80px 0 0;
}

.form-logo {
  height: 450px;
  object-fit: contain;
  padding-left: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.form-question-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.form-question {
  text-align: center;
  font-size: 1.8rem;
  flex-grow: 1;
  margin: 40px 20px 0 20px;
}

.form-input-container {
  display: flex;
  height: 50%;
  width: 60%;
}

.form-button {
  background-color: #FBDFEA;
  width: 35%;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 1.4rem;
}

.form-icon-container {
  margin-left: 15px;
}

.form-icon {
  height: 50px;
}

.form-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-type-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.form-input-container {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.form-input, .form-tech-stack-chosen-single {
  width: 60%;
  height: 40px;
  border-radius: 24px;
  border: 2px solid #DBD5D5;
  font-size: 1.4rem;
}

.form-input {
  padding-left: 15px;
}

select.form-input {
  height: 56px;
  width: 60%;
}

.number-input {
  width: 50%;
  margin: 20px;
  text-align: center;
}

.form-tech-input-container {
  height: auto;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-type-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid #EEE4E1;
  border-radius: 24px;
  width: 175px;
  padding: 5px;
}

.form-type-icon {
  width: 60%;
}

.form-type-text {
  font-size: 1.7rem;
  margin: 0;
}

.form-type-icon-container:hover{
  border: 5px solid #FFBCD7;
  cursor: pointer;
}

.form-dropdown {
  display: flex;
  flex-direction: column;
  border: 2px solid #EEE4E1;
  margin-top: 46px;
  background-color: white;
  border-radius: 24px;
  width: 25%;
  height: 20%;
  overflow: auto;
  font-size: 1.6rem;
  z-index: 99999;
  position: absolute;
}

.form-tech-stack {
  margin: 10px 0 10px 15px;
  cursor: pointer;
}

.form-tech-stack-chosen {
  width: 40%;
  height: 60%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}

.form-tech-stack-chosen-single {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.form-active-focus {
  border: 5px solid #FFBCD7;
}

.form-tech-text {
  font-size: 1.5rem;
  text-align: center;
  z-index: 1;
}

.form-error {
  margin: 0;
  color: #AF0F0F;
  font-size: 1.7rem;
  font-weight: 400;
  text-align: center;
}

.hidden {
  display: none;
}

@media screen and (max-width: 950px) {
  .form-backdrop {
    width: 100%;
    height: 80%;
    position: fixed;
    bottom: -10px;
    border-radius: 30px 30px 0 0;
    margin: 0 0 20px 0;
  }

  .form-question {
    font-size: 1.5rem;
    padding: 0 20px;
    margin-top: 10px;
  }
  
  .form-type-icon-container {
    width: 125px;
    margin: 15px;
  }

  .form-type-text {
    font-size: 1.2rem;
  }

  .form-button {
    width: 80%;
  }

  .form-question-container {
    flex-direction: column;
  }

  .form-icon-container {
    justify-content: flex-start;
    width: 100%;
  }

  .form-icon {
    height: 40px;
  }

  .form-tech-input-container {
    width: 80%;
  }

  .form-input {
    font-size: 1.2rem;
    text-align: center;
  }

  .form-dropdown {
    width: 64%;
    height: 40%;
    margin-right: 43px;
  }

  .form-tech-stack-chosen-single {
    font-size: 1.2rem;
    width: 100%;
    margin: 6px;
  }

  .number-input {
    margin: 2px;
  }

  .form-error {
    font-size: 1.4rem;
    padding: 0 15px;
  }


}