.form-page {
  background-image: url("../../images/background.png");
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-backdrop {
  height: 60%;
  width: 80%;
  background-color: white;
  border-radius: 30px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.form-question-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.form-question {
  text-align: center;
  font-size: 3rem;
  flex-grow:1;
  margin-bottom: 10px;
}

.form-input-container {
  display: flex;
  height: 50%;
  width: 60%;
  /* border: 1px solid black; */
}

.form-button {
  background-color: #EEE4E1;
  width: 25%;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 1.4rem;
}

.form-icon-container {
  margin-left: 15px;
}

.form-icon {
  height: 60px;
}

.form-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-type-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.form-input-container {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.form-input, .form-tech-stack-chosen-single {
  width: 60%;
  height: 50px;
  border-radius: 24px;
  border: 2px solid #DBD5D5;
  font-size: 1.6rem;
  /* padding-left: 10px; */
}

.number-input {
  width: 40%;
  margin: 20px;
  text-align: center;
}

.form-tech-input-container {
  height: auto;
  width: 40%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.form-type-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid #EEE4E1;
  border-radius: 24px;
  width: 200px;
  padding: 5px;
}

.form-type-icon {
  width: 80%;
}

.form-type-text {
  font-size: 1.7rem;
  margin: 0;
}

.form-type-icon-container:hover{
  border: 5px solid #efaf9b;
  cursor: pointer;
}

.form-dropdown {
  display: flex;
  flex-direction: column;
  border: 2px solid #EEE4E1;
  margin-top: 56px;
  background-color: white;
  border-radius: 24px;
  width: 30%;
  height: 20%;
  overflow: auto;
  font-size: 1.6rem;
  z-index: 99999;
  position: absolute;
}

.form-tech-stack {
  margin: 10px 0 10px 15px;
  cursor: pointer;
}

.form-tech-stack-chosen {
  width: 40%;
  height: 60%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  /* padding-right: 50px; */
}

.form-tech-stack-chosen-single {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 10px; */
  height: 50px;
}

.form-active-focus {
  border: 5px solid #efaf9b;
}

.form-tech-text {
  font-size: 1.5rem;
  text-align: center;
  z-index: 1;
}

.form-error {
  margin: 0;
  color: #AF0F0F;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.hidden {
  display: none;
}

@media screen and (max-width: 850px) {
  .form-backdrop {
    width: 100%;
    height: 80%;
    position: fixed;
    bottom: 0;
    border-radius: 30px 30px 0 0;
  }

  .form-question {
    font-size: 1.8rem;
    padding: 0 20px;
    margin-top: 10px;
  }
  
  .form-type-icon-container {
    width: 28%;
    margin: 15px;
  }

  .form-type-text {
    font-size: 1.2rem;
  }

  .form-button {
    width: 80%;
  }

  .form-question-container {
    flex-direction: column;
  }

  .form-icon-container {
    justify-content: flex-start;
    width: 100%;
  }

  .form-icon {
    height: 40px;
  }

  .form-tech-input-container {
    width: 100%;
  }

  .form-input {
    font-size: 1.2rem;
    text-align: center;
  }

  .form-dropdown {
    width: 64%;
    height: 40%;
    margin-right: 43px;
  }

  .form-tech-stack-chosen-single {
    font-size: 1.2rem;
    width: 100%;
    margin: 6px;
  }

  .number-input {
    margin: 2px;
  }

  .form-error {
    font-size: 1.4rem;
    padding: 0 15px;
  }
}