.saved-page {
  display: flex; 
  flex-direction: column;
  align-items: center;
  height: 88vh;
}

.saved-page-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.saved-projects-container{
  width: 80%;
  display: flex; 
  justify-content: space-around;
}