.saved-page {
  display: flex; 
  flex-direction: column;
  align-items: center;
  height: 88vh;
  background-image: url('../../images/pinkClouds.png');
  background-repeat: none;
  background-size: cover;
  animation: fadeIn 0.5s ease-in;
}

.saved-page-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.saved-projects-container {
  max-width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-height: 75vh;
  overflow-y: auto;
}

.saved-projects-container::-webkit-scrollbar {
  width: 10px; 
}

.saved-projects-container::-webkit-scrollbar-thumb {
  background: pink;
  border-radius: 25px;
}

.empty-saved {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.empty-saved a {
  background-color: #EEE4E1;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  margin-top: 30px;
}